#define ssid "WIFI_SSID"
#define password "WIFI_PASSWORD"

#define cloudflare_api_token "CLOUDFLARE_API_TOKEN"
#define cloudflare_zone_id "CLOUDFLARE_ZONE_ID"
#define cloudflare_record_id "CLOUDLFARE_RECORD_ID";
#define cloudflare_domain "CLOUDFLARE_DOMAIN"

#define username "WEBSITE_USERNAME"
#define passwordLogin "WEBSITE_USER_PASSWORD"
#define passwordAdmin "WEBSITE_ADMIN_PASSWORD"
